
.theme-dark {
  --swcm6-whitespace-color: var(--color-base-40);
  --swcm6-outline-list-markers-color: rgba(var(--mono-rgb-100), 0.05);
  --swcm6-space-bg-image: radial-gradient(circle at 50% 55%, var(--color-base-50) 10%, transparent 2%);
}

.theme-light {
  --swcm6-whitespace-color: var(--color-base-35);
  --swcm6-outline-list-markers-color: rgba(var(--mono-rgb-100), 0.03);
  --swcm6-space-bg-image: radial-gradient(circle at 50% 55%, var(--color-base-30) 10%, transparent 2%);
}

body:not(.swcm6-nix-plugin-styles) {
  --line-end: '¬';
  --line-break: '↲';

  // Always show blockquote markers...
  &.swcm6-show-blockquote-markers {
    .markdown-source-view.mod-cm6 {
      .HyperMD-quote .cm-transparent {
        color: var(--swcm6-whitespace-color);
      }
    }
  }

  // Always show the space allocated for list markers...
  &.swcm6-outline-list-markers {
    .markdown-source-view.mod-cm6 .cm-line {

      .cm-formatting-list-ul,
      .cm-formatting-list-ol,
      .cm-formatting-task,
      .task-list-label {
        background-color: var(--swcm6-outline-list-markers-color);
      }
    }
  }

  .cm-highlightSpace {
    background-image: var(--swcm6-space-bg-image);
  }
}
