@mixin before {
  line-height: 1;
  padding-top: 2px;
}
@mixin whitespace {
  white-space: pre;
  font-family: var(--font-monospace);
  line-height: 1;
  color: var(--show-whitespace-color);
}
@mixin line-ending {
  line-height: 1;
  width: 1.2ch;
  padding-left: 0.2ch;
  vertical-align: middle;
}
@mixin all-whitespace {
  .cm-highlightSpace {
    @include whitespace;
    &:before {
      @include before;
    }
  }
}
.theme-dark {
  --swcm6-outline-list-markers-color: rgba(var(--mono-rgb-100), 0.05);
}
.theme-light {
  --swcm6-outline-list-markers-color: rgba(var(--mono-rgb-100), 0.03);
}

body:not(.swcm6-nix-plugin-styles) {
  --show-whitespace-color: var(--color-base-40);
  --indentation-guide-editing-indent: 0;

  .markdown-source-view.mod-cm6 {
    .HyperMD-list-line-nobullet .cm-indent {
      min-width: unset;
    }

    &.is-live-preview .HyperMD-quote:before,
    .cm-blockquote-border:before {
      border-left: none;
      border-right: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
    }

    .cm-line {
      .cm-highlightSpace:before {
        color: var(--show-whitespace-color);
      }
      // Leading whitespace
      .cm-indent-spacing:has(.cm-highlightSpace)::before,
      .cm-indent:has(.cm-highlightSpace)::before {
        transform: unset;
      }
      .cm-indent {
        display: inline-flex;
      }

      // multiple cm-indent or cm-indent-spacing elements will be
      // present if a line is indented, all will have the same data-display value.
      // show only the first, as they otherwise overlap
      .cm-indent:not(:first-child) .cm-highlightSpace::before,
      .cm-indent-spacing:not(:first-child) .cm-highlightSpace::before {
        content: '';
      }

      // Trailing whitespace
      &:has(br):not(:has(span)):before,
      &:not(:has(br)):not(:has(span)):after,
      &:has(span):not(:has(.cm-trailing-space-new-line)):not(:has(.cm-trailingSpace)):after {
        color: var(--show-whitespace-color);
        content: '¬';
        @include line-ending;
      }
      .cm-trailing-space-a .cm-highlightSpace:before,
      .cm-trailingSpace .cm-highlightSpace:before {
        content: attr(data-display);
        @include before;
      }
      .cm-hmd-codeblock:last-child,
      .cm-trailing-space-new-line {
        .cm-trailingSpace:has(.cm-highlightSpace[data-display$="··"]) {
          // stuff
          .cm-highlightSpace:not(.cm-hmd-codeblock .cm-trailingSpace .cm-highlightSpace):before {
            content: '';
          }
          .cm-highlightSpace:after {
            content: '↲';
            @include line-ending;
          }
        }
      }
      .cm-trailingSpace {
        background-color: transparent;
      }
    }
  }

  // If we should always show blockquote markers
  &.swcm6-show-blockquote-markers {
    .markdown-source-view.mod-cm6 {
      .HyperMD-quote .cm-transparent {
        color: var(--show-whitespace-color);
      }
    }
  }

  // if we should always show the space allocated for list markers
  &.swcm6-outline-list-markers {
    .markdown-source-view.mod-cm6 {
      .cm-line {
        .cm-formatting-list-ul,
        .cm-formatting-list-ol,
        .task-list-label {
          background-color: var(--swcm6-outline-list-markers-color);
        }
      }
    }
  }

  // If we should show all whitespace
  &.swcm6-show-all-whitespace {
    .markdown-source-view.mod-cm6 .cm-line {
      @include all-whitespace;
    }
  }

  // Otherwise...
  &:not(.swcm6-show-all-whitespace) {
    // show only leading/trailing whitespace
    .markdown-source-view.mod-cm6 .cm-line {
      .cm-indent,
      .cm-indent-spacing:first-child,
      .cm-trailingSpace {
        @include all-whitespace;
      }
    }

    // show more than single spaces
    &.swcm6-show-extra-whitespace {
      .markdown-source-view.mod-cm6 .cm-line {
        .cm-highlightSpace[data-display$="··"] {
          @include whitespace;
          &:before {
            @include before;
          }
        }
      }
    }

    // if we should also show codeblock whitespace,
    // include the all-whitespace mixin for codeblocks
    &.swcm6-show-codeblock-whitespace {
      .markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
        @include all-whitespace;
      }
    }
  }
}
